li {
  list-style: none;

}
ul {
  display: flex;
  justify-content: space-between;
}
body {
  font-family: 'Poiret One', cursive;
  font-size: 2em;
  margin-top: 50px;
  width: 80%;
}
a {
  text-decoration: none;
}
.active {
  color: tomato;
}
